<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
	<mat-form-field>
		<mat-label>Account Name</mat-label>
		<input matInput type="string" formControlName="toAccountName" />
  </mat-form-field>

	<mat-form-field>
		<mat-label>From Account</mat-label>
		<input matInput type="number" formControlName="fromAccount" />
  </mat-form-field>

	<mat-form-field>
		<mat-label>To Account</mat-label>
		<input matInput type="number" formControlName="toAccount" />
	</mat-form-field>

	<mat-form-field>
		<mat-label>Amount</mat-label>
		<input matInput type="number" formControlName="amount" />
	</mat-form-field>

	<button type="submit" class="btn btn-primary mr-1">Submit</button>
</form>